.submit-button{
    margin: 0 10px 0 10px;
    padding-top: 5px ;
    width: 102%;
    height: 45px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
    background-color: cornflowerblue;
    color: white;
}
.submit-button:hover{
    background-color: #5e87ce;
}
.submit-button:active{
    background-color: #3d6ab6;
}